html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  background-color: #F4F4F4;
  font-family: Helvetica, Dotum, AppleGothic, Droid Sans, Arial, Sans-serif;
  color: #444; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

/*ul { list-style: none; }*/
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:link, a:visited, a:hover {
  text-decoration: none;
  color: #3A60AC; }

a:hover {
  cursor: pointer;
  text-decoration: underline; }

ins {
  background-color: #FF9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #FF9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table, th, td {
  vertical-align: top;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%; }

table caption {
  display: inline-block;
  display: none;
  position: absolute;
  text-indent: -9999px; }

fieldset tr {
  border-bottom: 1px solid #CCC; }

fieldset tr:last-child {
  border-bottom: none; }

th, td {
  padding: 10px;
  text-align: left; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 1em 0;
  padding: 0; }

input, select, option {
  color: #666;
  margin: 0;
  padding: 0; }

button, input[type="button"], .button {
  cursor: pointer;
  margin: 0;
  border: 0;
  border-radius: 5px;
  line-height: initial;
  padding: 11px 15px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 22px 10px 10px;
  line-height: 1;
  height: 37px;
  background-repeat: no-repeat;
  background-image: url("http://fltgraph.co.kr/images/select-arrow.png");
  background-position: right 50%;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  background-color: #FFF; }

select::-ms-expand {
  display: none; }

input[type="checkbox"], input[type="radio"] {
  height: auto; }

input[type="image"] {
  border: none; }

input {
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 19px; }

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="number"], input[type="search"] {
  color: #222;
  padding: 10px; }

input[type="radio"], input[type="checkbox"] {
  position: relative;
  top: -1px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  border: 1px solid #CCC;
  background: #FFF; }

input[type="radio"]:checked, input[type="checkbox"]:checked {
  border-color: #666;
  background: #FFF; }

input[type="radio"] {
  border-radius: 50%; }

input[type="radio"]:before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  background: #FFF;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  position: absolute; }

input[type="radio"]:checked:before {
  background: #666;
  position: absolute;
  top: 3px;
  left: 3px; }

input[type="checkbox"]:checked:before {
  content: "";
  width: 6px;
  height: 3px;
  background: #666;
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="checkbox"]:checked:after {
  content: "";
  width: 12px;
  height: 3px;
  background: #666;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

textarea {
  padding: 10px;
  border: 1px solid #CCC;
  box-sizing: border-box; }

label {
  cursor: hand;
  vertical-align: middle; }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  content: '\0020'; }

.clearfix:after {
  clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none; }

.align-right {
  text-align: left; }

.align-left {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }
