/*=========================================
OUTER
=========================================*/
.site_outer { width: 100%; }

.site_header, .site_main, .site_aside, .site_footer { width: 100%; margin: 0 auto; background: #FFF; display: inline-block; }

.site_main .main { background: #C00; max-width: 90%; margin: 0 auto; }

.site_block { max-width: 90%; margin: 0 auto; }

.site_header .header { background: #000; max-width: 90%; margin: 0 auto; }

.site_footer .footer { background: #000; max-width: 90%; margin: 0 auto; }

/*=========================================
HEADER
=========================================*/
/*=========================================
MAIN
=========================================*/
/*=========================================
ASIDE
=========================================*/
.site_main_aside { max-width: 90%; margin: 0 auto; }

.site_sub_aside { max-width: 90%; margin: 0 auto; }

/*=========================================
CONTENTS
=========================================*/
h1 { font-size: 3em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.45em; }

h5 { font-size: 1.4em; }

h6 { font-size: 1.375em; }

h1, h2, h3, h4, h5, h6 { padding: 20px 0; display: block; }

h2 { color: #E74C3C; }

/*=========================================
FOOTER
=========================================*/

/*# sourceMappingURL=style.css.map */