.site {
	&_contents {
	}
}

// @for $i from 1 through 6 {
//     h#{$i * 1} {
//         font-size: $i + 0em;
//     }
// }

@each $header, $size in (h1: $h1, h2: $h2, h3: $h3, h4: $h4, h5:$h5, h6:$h6) {
  #{$header} {
    font-size: $size;
  }
}

h1, h2, h3, h4, h5, h6 {
	padding: 20px 0;
	display: block;
}

h2 {
	color: $main-red;
}