// Site Width
$site-width: 100%;
$design-width: 90%;

@mixin designwidth {
	max-width: $design-width;
	margin: 0 auto;
}

// H1 ~ H6 Title Font size
$h1: 3em;
$h2: 2em;
$h3: 1.5em;
$h4: 1.45em;
$h5: 1.4em;
$h6: 1.375em;

// Font Family
$default-font: Helvetica, Dotum, AppleGothic, Droid Sans, Arial, Sans-serif;

// Font System
$is12: 0.750em;
$is14: 0.875em;
$is16: 1em;
$is18: 1.125em;
$is22: 1.375em;
$is24: 1.5em;

// Color System
// TODO : 컬러 시스템 mixin 구성
@mixin maingray {
	color: $light-gray;
	background-color: $main-gray;
	a {
		color: $light-gray;
	}
}

@mixin mainred {
	color: $light-red;
	background-color: $main-red;
	a {
		color: #FFF;
	}
}

//==========================================
// Color Test
// Main, Sub, Dark, Light
//==========================================
$main-red: #E74C3C;
$main-orange: orange;
$main-yellow: yellow;
$main-green: green;
$main-blue: #2980B9;
$main-violet: violet;
$main-gray: #444;

$sub-red: ($main-red * 2);
$sub-orange: ($main-orange * 2);
$sub-yellow: ($main-yellow * 2);
$sub-green: ($main-green * 2);
$sub-blue: ($main-blue * 2);
$sub-violet: ($main-violet * 2);
$sub-gray: ($main-gray * 2);

$dark-red: ($main-red / 3);
$dark-orange: ($main-orange / 3);
$dark-yellow: ($main-yellow / 3);
$dark-green: ($main-green / 3);
$dark-blue: ($main-blue / 3);
$dark-violet: ($main-violet / 3);
$dark-gray: ($main-gray / 3);

$light-red: ($main-red * 3);
$light-orange: ($main-orange * 3);
$light-yellow: ($main-yellow * 3);
$light-green: ($main-green * 3);
$light-blue: ($main-blue * 3);
$light-violet: ($main-violet * 3);
$light-gray: ($main-gray * 3);

// Clearfix
@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '\0020';
  }
}

// Hide Text
@mixin hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}