// Site Main Outer
.site {
	&_outer {
		width: $site-width;
	}
}

// Site Outer Option
.site {
	&_header,
	&_main,
	&_aside,
	&_footer {
		width: 100%;
		margin: 0 auto;
		background: #FFF;
		display: inline-block;
	}
}

// Site Main Outer
.site {
	&_main {
		.main {
			background: #C00;
			@include designwidth;
		}
	}
}

// Site Width Block
.site {
	&_block {
		@include designwidth;
	}
}

// Site Header
.site {
	&_header {
		.header {
			background: #000;
			@include designwidth;
		}
	}
}

// Site Footer
.site {
	&_footer {
		.footer {
			background: #000;
			@include designwidth;
		}
	}
}